@import '../../theme';
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
  font-family: 'Nanum Gothic Coding', monospace;
}

.main-container {
  height: 100%;
  width: 100%;
  // font-family: 'Nanum Gothic Coding', monospace;
  font-size: 1em;
  .main-page {
    position: relative;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    .main-block {
      background-color: rgb(240, 243, 247);
      .main-box {
        width: 100%;
        height: auto;
        padding: 7% 7%;
        margin-bottom: 2px;
        background-color: white;
        border-radius: 4px;
        h1 {
          font-size: 2.7vh;
          margin-bottom: 3%;
          font-weight: bolder;
          color: rgb(55, 55, 55);
        }

        .evaluation {
          margin-top: 3vh;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 1.5vh;
          a {
            width: 100%;
            div {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              cursor: pointer;
              border-bottom: 1px solid rgb(230, 230, 230);

              b {
                font-size: 0.9em;
              }
              span {
                font-size: 0.9em;
                color: rgb(137, 174, 254);
              }
            }
          }
        }
        .not-parti-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          button {
            font-size: 2.7vh;
            margin-bottom: 3%;
            // width: 2em;
            // height: 2em;
            background-color: white;
            border: 0px;
          }
        }
        .parti,
        .not-parti {
          display: flex;
          flex-flow: wrap;
          justify-content: space-between;
          gap: 1vh;
          background-color: white;
          .parti-box {
            cursor: pointer;
            width: 27vw;
            height: 27vw;
            max-width: 250px;
            max-height: 250px;
            // margin-bottom: 4%;
            border-radius: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vh;
            background-color: rgb(246, 237, 249);
            img {
              width: 17vw;
              max-width: 175px;
            }
            div {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    .modal-box {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 80vw;
      max-width: 650px;
      height: 20vh;
      background-color: white;
      border: 0px solid rgb(193, 193, 193);
      box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.249);
      border-radius: 5px;

      h1 {
        flex: 1;
        font-size: 1.1em;
        text-align: center;
        background: $mainColor;
        height: 5vh;
        line-height: 5vh;
        color: white;
        font-weight: bold;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        // borderradius
      }
      .form-box {
        flex: 3;
        width: 70vw;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 1vh;
        margin: auto;
        input,
        button {
          text-align: center;
          height: 4.5vh;
          border: 1px solid $boxborderColor;
          border-radius: 5px;
        }
        button {
          background: $mainColor;
          color: white;
          border: 0px;
        }
      }
    }
  }
}
