@import '../../theme';
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.main-container {
  height: 100%;
  width: 100%;
  // display: flex;
  // flex-direction: column;

  .main-page {
    position: relative;
    width: 600px;
    height: auto;
    // background-color: white;
    align-items: center;
    display: flex;
    margin: auto;
    // .main-block{
    //   max-width: 50%;
    // }
    h1 {
      margin: 20px 0 10px 0;
      font-size: 30px;
      font-family: 'ImcreSoojin';
      font-weight: bolder;
      color: rgb(55, 55, 55);
    }
    .parti,
    .not-parti {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      div {
        cursor: pointer;
        width: 160px;
        height: 160px;
        background-color: rgb(227, 227, 227);
        margin: 15px;
        border-radius: 5%;
        text-align: center;
        padding-top: 10px;
        font-family: 'ImcreSoojin';
      }
    }
  }
}
