@import '../../theme';

.main-container {
  height: 100%;
  width: 100%;
  font-size: 1em;
  .main-page {
    position: relative;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    .main-block {
      background-color: $mainColorLight;
      .main-box {
        width: 100%;
        height: auto;
        padding: 7% 7%;
        margin-bottom: 2px;
        background-color: white;
        border-radius: 4px;
        h1 {
          font-size: 2.7vh;
          margin-bottom: 3%;
          font-weight: bolder;
        }

        .evaluation {
          margin-top: 3vh;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 1vh;
          a {
            width: 100%;
            div:hover {
              background: $boxborderColor;
            }
            div {
              border-radius: 5px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              cursor: pointer;
              border-bottom: 1px solid $boxborderColor;
              padding: 1%;
              b {
                font-size: 0.9em;
              }
              span {
                font-size: 0.9em;
                color: $mainColor;
              }
            }
          }
        }
        .not-parti-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          button {
            font-size: 2.7vh;
            margin-bottom: 3%;
            // width: 2em;
            // height: 2em;
            background-color: white;
            border: 0px;
          }
          button:hover {
            color: $mainColor;
          }
        }
        .parti,
        .not-parti {
          display: flex;
          flex-flow: wrap;
          justify-content: space-between;
          gap: 1vh;
          background-color: white;
          .parti-box {
            cursor: pointer;
            width: 27vw;
            height: 27vw;
            max-width: 250px;
            max-height: 250px;
            border-radius: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vh;
            background-color: $subColor;
            img {
              width: 17vw;
              max-width: 175px;
            }
            div {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .modal {
    position: fixed;
    display: flex;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: 0.5s;
    // background: white;
    background: rgba(0, 0, 0, 0);
    .modal-box {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 80vw;
      max-width: 650px;
      height: 20vh;
      background-color: white;
      border: 0px solid $boxborderColor;
      box-shadow: 4px 4px 2px $bgOverlayColor;
      border-radius: 5px;

      h1 {
        flex: 1;
        font-size: 1.1em;
        text-align: center;
        background: $mainColor;
        height: 5vh;
        line-height: 5vh;
        color: white;
        font-weight: bold;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        // borderradius
      }
      .form-box {
        flex: 3;
        width: 70vw;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 1vh;
        margin: auto;
        input,
        button {
          text-align: center;
          height: 4.5vh;
          border: 1px solid $boxborderColor;
          border-radius: 5px;
        }
        button {
          background: $mainColor;
          color: white;
          border: 0px;
        }
      }
    }
  }
  .modal-open {
    z-index: -1;
    transform: translateY(100%);
    transition: 0.5s;
  }
}
