@import '../../theme';

.mysubject-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .body {
    width: 600px;
    height: 95%;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin: auto;
  }
}
