@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
}

.footer {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: white;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Nanum Gothic Coding', monospace;
  color: rgb(254, 253, 253);
  font-weight: bolder;
  text-shadow: 0 0 2px black;
}
