@import '../../theme';
@import '../../theme';

.login-page {
  display: flex;
  background-color: #217fc3;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
