@import '../../theme';

.mypiscine-container {
  height: 100%;
  width: 100%;
  .mypiscine-page {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    .mypiscine-block {
      background-color: $mainColorLight;
      .mypiscine-box {
        width: 100%;
        height: auto;
        padding: 7% 7%;
        margin-bottom: 2px;
        // margin: 5% 2%;
        // padding: 5%;
        background-color: white;
        // background-color: #ffffffaa;
        border-radius: 4px;
        // border-radius: 15px;

        // box-shadow: 1px 1px 3px 1px rgba(135, 135, 135, 0.4);

        .title {
          font-size: 4vh;
          text-align: center;
          width: 100%;
          font-weight: bolder;
        }
        .subtitle {
          font-size: 1.5vh;
          text-align: center;
          width: 100%;
          font-weight: bolder;
        }

        .mypiscine-box-column {
          display: flex;
          flex-direction: column;
          gap: 1vh;
          width: 100%;
          cursor: default;
          div {
            height: 10vh;
            border-radius: 10px;
            padding: 5px 15px;
            border: 1px solid $mainColor;
            border: 1px solid $boxborderColor;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h1 {
              font-size: 2em;
            }
          }
          div:hover {
            background-color: $mainColorLight;
          }
        }
      }
    }
  }
}
