@import '../../theme';

.mypiscine-container {
  height: 100%;
  width: 100%;

  .mypiscine-page {
    position: relative;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;

    .mypiscine-box {
      width: 100%;
      height: auto;
      margin-bottom: 0.5%;
      padding: 4% 4%;

      .title {
        font-size: 4vh;
        text-align: center;
        width: 100%;
        font-weight: bolder;
      }
      .subtitle {
        font-size: 1.5vh;
        text-align: center;
        width: 100%;
        font-weight: bolder;
      }

      .dummy {
        display: flex;
        flex-direction: column;
        width: 100%;
        cursor: default;
        div {
          height: 10vh;
          margin: 2% 0;
          font-size: 30px;
          border-radius: 10px;
          border: 1px solid rgb(235, 235, 235);
        }
        div:hover {
          background-color: rgb(235, 235, 235);
        }
      }
    }
  }
  // }
}
