@import '../../theme';

.myevaluation-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  .myevaluation-page {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    .myevaluation-block {
      background-color: $mainColorLight;
      .myevaluation-box {
        width: 100%;
        height: 100%;
        padding: 7% 7%;
        margin-bottom: 2px;
        background-color: white;
        border-radius: 4px;
      }
    }
  }
}
