@import '../../theme';

.main-container {
  height: 100%;
  width: 100%;

  .myevaluation-page {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    .myevaluation-block {
      background-color: $mainColorLight;
      .myevaluation-box {
        width: 100%;
        height: auto;
        padding: 7% 7%;
        margin-bottom: 2px;
        background-color: white;
        border-radius: 4px;
      }
    }
  }
}
