@import '../../theme';

.register-container {
  height: 100%;
  width: 100%;
  .register-page {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    .register-block {
      background-color: $mainColorLight;
      .register-box {
        width: 100%;
        height: auto;
        padding: 7% 7%;
        margin-bottom: 2px;
        background-color: white;
        border-radius: 4px;
        object {
          width: 100%;
          height: 100vh;
          // max-width: ;
        }
      }
    }
  }
  .register-button {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5.5vh;
    width: 45vw;
    max-width: 250px;
    background-color: $mainColor;
    border: 0px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 1.2em;
    color: white;
    box-shadow: 0 8px 6px -1px rgba(0, 0, 0, 0.5),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
  }
}
