$theme-color-primary: #15b2b3;
$header-bg-color: #252831;
$header-bg-colorL: #3b404f;
$fontFamily: Arial, sans-serif;

$mainColor: #679fff;
$bgColor: #252831;
$bgColorLight: #3b404f;
$bgColorGray: #c4c4c4;
$boxborderColor: #d2d2d2;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

.nanumgothiccoding * {
  font-family: 'Nanum Gothic Coding', monospace;
}

@mixin text($size: 16px, $color: $mainColor) {
  font-size: $size;
  color: $color;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
}

@mixin inner {
  position: relative;
  width: 1100px;
  top: 0;
  bottom: 0;
  margin: auto;
}
