@import '../../theme';
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  // position: fixed;
  z-index: 3;
  padding: 1%;
  width: 100%;
  height: 6vh;
  font-size: 1.8em;
  background: linear-gradient($mainColor, #9abfffcc, #d2e2ffcc);
  background: white;
  border-bottom: 1px solid rgb(242, 242, 242);
  text-align: center;
  font-family: 'ImcreSoojin';
  color: $mainColor;
  // color: white;
  // font-weight: bolder;

  .header-box {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div,
    img {
      padding: auto;
      max-height: 100%;
    }
  }
}
