@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
  font-family: 'Nanum Gothic Coding', monospace;
}

.comp-temp {
  width: 100%;
  font-weight: bolder;

  .gitrepo {
    width: 100%;
    text-align: left;
    font-size: .9em;
    padding: .4em 0 .3em 1em;
    margin-top: .2em;
    border: 1px solid rgb(53, 53, 53);
    font-weight: lighter;
    border-radius: .3em;
    margin-bottom: 2.3em;
  }
  .repo_name{
    font-size: .75em;
    color: #777;
  }

  .user_profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    span{
      font-size: .75em;
      color: #555;
    }
    .user-image {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: max-content;
      margin-top: .3em;
      .userbox {
        background-color: rgb(222, 222, 222);
        font-size: 1.1em;
        box-sizing: border-box;
        display: flex;
        border-radius: .15em;
        border-bottom: 1px solid #333;
        padding: .4em .8em .3em .8em;
        margin-right: .3em;
      }
    }
  }

  .comp-box1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 13px 0px 8px 0px;
    font-weight: bolder;
    padding-bottom: .5em;
    margin-bottom: 1.2em;
    border-bottom: 1px solid #ddd;
  }

  h1 {
    font-size: 2.2em;
    font-family: 'Nanum Gothic Coding', monospace;
  }

  h3 {
    padding-top: 3em;
    font-size: 1.1em;
    font-family: 'Nanum Gothic Coding', monospace;
  }

  .state {
    background-color: rgb(203, 253, 198);
    margin-top: 3px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .percent {
    color: rgb(48, 184, 59);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subject {
    box-sizing: border-box;
    width: calc(100% - 120px);
    padding-left: 1em;
    h3{
      padding-top: .3em;
      font-size: 1.1em;
      font-family: 'Nanum Gothic Coding', monospace;
    }
  }

  hr {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
