@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
  font-family: 'Nanum Gothic Coding', monospace;
}

.comp-temp {
  width: 100%;
  font-weight: bolder;
  font-family: 'Nanum Gothic Coding', monospace;

  .gitrepo:hover {
    background-color: rgb(245, 242, 242);
    cursor: pointer;
  }

  .repo_name {
    font-size: 0.75em;
    color: #777;
  }

  .user_profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    span {
      font-size: 0.75em;
      color: #555;
    }
    .user-image {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: max-content;
      margin-top: 0.3em;
      .userbox {
        background-color: rgb(255, 255, 255);
        font-size: 1.1em;
        box-sizing: border-box;
        display: flex;
        border: 1px solid rgb(237, 226, 226);
        border-radius: 0.15em;
        // border-bottom: 1px solid #333;
        padding: 0.4em 0.8em 0.3em 0.8em;
        margin-right: 0.3em;
      }
    }
  }

  h1 {
    font-size: 2.2em;
  }
  h2 {
    margin: 5px 5px;
  }

  h3 {
    padding-top: 3em;
    font-size: 1.1em;
  }

  .state {
    color: rgb(79, 167, 86);
    margin-top: 3px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .percent {
    color: rgb(79, 167, 86);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subject {
    box-sizing: border-box;
    width: calc(100% - 120px);
    padding-left: 1em;
    h3 {
      padding-top: 0.3em;
      font-size: 1.1em;
    }
  }

  hr {
    height: 1px;
    border: 1px solid rgb(237, 237, 237);
  }
}
